<section id="about">
    <div class="container border-line-r">
        <h2>About Me</h2>
        
        <p>
            I have dedicated the past few years to honing my skills and pursuing my passions in <strong>programming</strong>
            and <strong>management</strong>.
            
            Through various projects at my <strong>university</strong> and even during my high school years,
            I have gained valuable experience and acquired a strong foundation in these fields.
            
            I thrive on ambition and thrive in high-pressure environments
            as they bring out the best in me, increasing my productivity and drive.
        </p>

        <br>
          
        <p>
            Currently, I am pursuing my studies at <strong>EPFL</strong> in Lausanne, Switzerland,
            following a successful exchange semester at <strong>ETH</strong> in Zürich.
            
            Both institutions are globally renowned for their academic excellence.
            Also, I was privileged to have received a <strong>scholarship</strong>
            for academic credit at my home university, <strong>USI</strong>, in Lugano.
            
            This further motivates me to strive for excellence in everything I undertake.
        </p>

        <br>
          
        <p>
            My main interests lie in backend development, with a strong
            focus on <strong>algorithms and data structures</strong>.

            I find immense satisfaction in optimizing algorithms and
            ensuring they perform at their best, as this directly contributes
            to the overall efficiency and effectiveness of software systems.
        </p>

        <br>
          
        <p>
            My ultimate career aspiration is to become a seasoned project manager.
            I am deeply committed to expanding my skills in both development and
            management, with the goal of overseeing and successfully delivering complex projects.
            strong knowledge
            Hard work and continuous improvement are fundamental values that drive me,
            and I am always eager to embrace challenges and seize opportunities for growth.
        </p>

        <br>
          
        <p>
            In summary, I am a highly motivated and driven individual with
            a passion for <strong>programming</strong>, <strong>management</strong>, 
            and continuous learning. I am currently pursuing my studies
            at <strong>EPFL</strong>, leveraging my experiences from <strong>ETH</strong>
            and previous projects to excel in backend development.
            
            My goal is to further enhance my skills and knowledge to become 
            a proficient project manager, contributing
            to the success of ambitious and impactful initiatives.
        </p>
    </div>
</section>