<section id="contact">
    <div class="container">
        <div class="contacts">
            <h3>Enrico Benedettini</h3>
            <p>
                <i class="fa-solid fa-house"></i> 47522 Cesena, Italy
            </p>
            <p>
                <i class="fa-solid fa-phone"></i> +39 345 332 9757
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i> enrico.benedettini@gmail.com
            </p>
            <p>
                <a href="https://www.linkedin.com/in/enrico-benedettini-4b7994253"><i class="fa-brands fa-linkedin"></i> LinkedIn Profile</a>
            </p>
            <p>
                <a href="https://github.com/Enrico-Benedettini"><i class="fa-brands fa-github"></i> GitHub Profile</a>
            </p>
            <br>
            <p>
                <i class="fa-regular fa-copyright"></i> Enrico Benedettini
            </p>
        </div>

    </div>
</section>