<section id="education">
    <div class="container border-line-l">
        <h2>Education</h2>
        <p>
            <strong>Bsc</strong> in <strong>Informatics</strong> - Università della Svizzera italiana, USI <strong>Lugano, Switzerland</strong>
            <em>09/2020 - 02/2024</em>
        </p>
        <br>
        <p>
            <strong>Information Technology and Automation</strong> - IS Pascal Comandini, <strong>Cesena, Italy</strong>
            <em>09/2015 - 06/2020</em>
        </p>
    </div>
</section>