
        <section id="experience">
            <div class="container border-line-r">
                <h2>Experience</h2>
                <!-- Add content for the experience section -->

                <div class="experience">
                    <div class="headline">
                        <p class="title"><strong>Glovo Courier</strong> - Glovo (<em>27/12/2022 - Now</em>)</p>
                        <p class="language"><strong>Language</strong>: Italian/English</p>
                    </div>
                    <div class="content">
                        <p class="description-left">
                            Labour work as Glovo Rider for Glovo, making food deliveries driving a car.
                            <br>
                            Work experience done to support my studies in Switzerland and allow me a more flexible schedule time for me in home town.
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2055904.3076503468!2d8.737619370632698!3d45.8859190446628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4784327580543803%3A0xd99ed60a910d0f08!2sBiblioteca%20universitaria%20Lugano!5e1!3m2!1sit!2sit!4v1689606178779!5m2!1sit!2sit"
                         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="experience">
                    <div class="headline">
                        <p class="title"><strong>Librarian</strong> - Università della Svizzera italiana, <strong>USI</strong> (<em>15/08/2021 - 04/07/2022</em>)</p>
                        <p class="language"><strong>Language</strong>: Italian/English</p>
                    </div>
                    <div class="content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1407837.8094493824!2d11.9781616!3d44.2621605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ca4d41ed493c1%3A0xbee0ab1075577a47!2sCesena%20FC!5e1!3m2!1sit!2sit!4v1689607021304!5m2!1sit!2sit"
                         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p class="description-right">
                            Student-Assistant worker: Front-desk service for customers, rearrangement and sorting of the books.
                        </p>
                    </div>
                </div>

                <div class="experience">
                    <div class="headline">
                        <p class="title"><strong>Farmer</strong> - Martorano 5 (<em>02/08/2020 - 05/09/2020</em>)</p>
                        <p class="language"><strong>Language</strong>: Italian</p>
                    </div>
                    <div class="content">
                        <p class="description-left">
                            A month of heavy manual work in a sperimentational farm.
                            Involved in various activities, spacing from picking vegetables to 
                            the set up of the fields according to the necessary conditions
                            for the specific type of vegetable.
                            Summer job useful to support my studies
                            in Switzerland.
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d888641.1816489343!2d11.315423947461161!3d44.03913941631762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cbac600a944fb%3A0x2fc029ddf2a9df78!2sAzienda%20Martorano%205%20Centrale%20Sperimentazioni%20e%20Servizi%20Agro-ambientali%20Soc.%20Cop.%20A.r.l.!5e1!3m2!1sit!2sit!4v1689608713678!5m2!1sit!2sit"
                         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="experience">
                    <div class="headline">
                        <p class="title"><strong>System Engineer</strong> - JMOL Informatica (<em>27/05/2019 - 25/06/2019</em>)</p>
                        <p class="language"><strong>Language</strong>: Spanish</p>
                    </div>
                    <div class="content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060629.4009721866!2d-6.497379114474647!3d37.92047951442713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e97fdf41d33%3A0x42fdf52c80acb1f6!2sJmol%20Inform%C3%A1tica%20SLU!5e1!3m2!1sit!2sit!4v1689606251530!5m2!1sit!2sit"
                         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p class="description-right">
                            Experience part of <strong>Erasmus+</strong>, a program offering work, room and board,
                            for which I won the <strong>tender</strong> in my high school.
                            <br>
                            There, I could take care of the troubleshooting for various clients, fixing the network
                            doing customer service.
                            <br>
                            Also developed an archive management software to handle the receipts from every 
                            customer.
                            <br>
                        </p>
                    </div>
                </div>

                <div class="experience">
                    <div class="headline">
                        <p class="title"><strong>Web Developer</strong> - Gruppo Sistema (<em>27/05/2018 - 15/06/2018</em>)</p>
                        <p class="language"><strong>Language</strong>: Italian</p>
                    </div>
                    <div class="content">
                        <p class="description-left">
                            Creation of a website for a library. First developed 
                            statically in <strong>HTML/CSS</strong> and <strong>JQuery</strong> and later dynamically with <strong>Wordpress</strong>.
                            <br>
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1636746.6836726335!2d11.611325487676194!3d44.00557780125613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ca4cda208d003%3A0x11d98757a965e8b!2sIIS%20Pascal%20Comandini%20-%20sede%20ITT%20%22Blaise%20Pascal%22!5e1!3m2!1sit!2sit!4v1689606503169!5m2!1sit!2sit"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </section>