<section id="home">
    <div class="container border-line-l">
        <div>
            <h2 class="job-title">S0ftw4r3 3ng1n33r</h2>
            <h4 class="job-title-desc">Backend Developer with experience in frontend</h4>
        </div>
    </div>
</section>