
        <section id="projects">
            <div class="container border-line-l">
                <h2>Projects</h2>
                <!-- Add content for the projects section -->

                <div class="project sa1">

                    <h3>The Timeline</h3>
                    <p class="project-desc">
                        Website about the <strong>history</strong> of <strong>videogames</strong>,
                        going through <strong>every major videogame</strong>,
                        <strong>console</strong> and <strong>event</strong> for <strong>each generation</strong>.
                        <br>
                        Project developed for Software Atelier 1 SA 2020-2021, part of BSc INF at USI Lugano,
                        in cooperation with a team composed of about <strong>30 informatics students</strong>.
                    </p>
                    <a href="https://atelier.inf.usi.ch/~cerfea/SoftwareAtelier1_final_project/" target="_blank">The Timeline</a> |
                    <a href="https://github.com/AlbertCerfeda/theTimeline" target="_blank">GitHub repo</a>
                </div>

                <br>

                <div class="project pf2">

                    <h3>Html Pretty Printer</h3>
                    <p class="project-desc">
                        Application to <strong>indent</strong> the <strong>HTML</strong> in a pretty way
                        (according to guidelines on a proper html indentation available
                        <a href="https://developers.google.com/style/html-formatting"><ins>here</ins></a>).
                        <br>
                        Project developed for Programming Fundamentals 2 SA 2020-2021, part of BSc INF at USI Lugano,
                        in <strong>Pair programming</strong> with Alessandro Cravioglio.
                    </p>
                    <!-- <a href="" target="_blank"></a> | -->
                    <a href="https://github.com/Enrico-Benedettini/Html-pretty-printer" target="_blank">GitHub repo</a>
                </div>

                <div class="project sa3">

                    <h3>DoX</h3>
                    <p class="project-desc">
                        Web Application mocking <strong>Google Docs</strong>.
                        <br>
                        Developed as final project for Software Atelier 3 SA 2021-2022, part of BSc INF at USI Lugano,
                        with a team composed of <strong>5 informatics students</strong>.
                    </p>
                    <a href="https://doxeditor.herokuapp.com/" target="_blank">DoX</a> |
                    <a href="https://github.com/AlbertCerfeda/DoX" target="_blank">GitHub repo</a>
                </div>

                <div class="project sa4">

                    <h3>The Devine Codemy</h3>
                    <p class="project-desc">
                        Educational Web Application to <strong>learn</strong> <strong>coding</strong> in
                        a <strong>fun</strong> and <strong>entertaining</strong> way.
                        <br>
                        Developed as a group project for Software Atelier 4 SA 2021-2022, part of BSc INF at USI Lugano,
                        with a team composed of <strong>14 informatics students</strong>.
                    </p>
                    <!-- <a href="" target="_blank">The Devine Codemy</a> | -->
                    <a href="https://cerfeda.notion.site/cerfeda/Devine-Codemy-cd55f02a00874b2ba278fe2f11706633" target="_blank">Documentation</a>
                </div>

                <div class="project data-viz">

                    <h3>Friends Visualization</h3>
                    <p class="project-desc">
                        Website to display human-intuitive visualizations about the world-wide famous
                        <strong>Tv-Series</strong> <strong>Friends</strong>, with an inspection about
                        <strong>interactions</strong>, <strong>emotions</strong> and the <strong>script</strong> of the program.
                        <br>
                        Project developed for Data Visualization SA 2022-2023, master course during my
                        exchange semester at EPFL, in Lausanne, in cooperation with <strong>2</strong> other <strong>exchange students</strong>.
                    </p>
                        <a href="friends_data/friends.html" target="_blank">Processed data</a> |
                        <a href="https://mateo762.github.io/friends-tv-visualization/" target="_blank">The Friends visualization</a> |
                        <a href="https://github.com/com-480-data-visualization/project-2023-chart-conquerors" target="_blank">GitHub repo</a>
                </div>

                <div class="project sdp">

                    <h3>Procrastinot</h3>
                    <p class="project-desc">
                        Productivity Application for <strong>mobile devices</strong> to <strong>create</strong>, <strong>build</strong>
                        and <strong>share</strong> new <strong>habits</strong>.
                        <br>
                        Developed as a group project for Software Development Project SA 2022-2023, bachelor course during my
                        exchange semester at EPFL, in Lausanne, with a team composed of <strong>6 informatics students</strong>.
                    </p>
                    <!-- <a href="" target="_blank">Procrastinot</a> | -->
                    <a href="https://github.com/procrastinot-team/procrastinot" target="_blank">GitHub repo</a>
                </div>

                <div class="project sdp">

                    <h3>Personal Website</h3>
                    <p class="project-desc">
                        Well if you're here then you already know what it's about, but at the end of this paragraph you'll find the code.
                        <br>
                        This website is entirely developed in <strong>plain HTML5/CSS3</strong> and <strong>Javascript</strong> only.
                    </p>
                    <a href="https://github.com/Enrico-Benedettini/enrico-benedettini.github.io" target="_blank">GitHub repo</a>
                </div>

            </div>
        </section>
